.country {
    border: 2px solid tomato;
    padding: 10px;
    border-radius: 15px;
}

.country-visited{
    background-color:dodgerblue;
}

.btn-visited{
    background-color: blue;
}

.btn-not-visited{
    background-color: brown;
}